:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.App .container {
  background-color: var(--section-color);
  border-radius: 10px;
  box-shadow: 10px 10px 15px -15px black;
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}
.App-footer {
  margin: 30px 0;
  text-align: center;
}

.Credit {
  color: black;
}

.WeatherLink a {
  color: black;
  text-decoration: none;
}
.WeatherLink a:hover {
  background-color: var(--branding-color);
  border-radius: 15px;
  font-weight: bold;
  padding: 2px 10px;
}

.Github a {
  color: black;
  text-decoration: none;
}
.Github a:hover {
  background-color: var(--branding-color);
  border-radius: 15px;
  font-weight: bold;
  padding: 2px 10px;
}

.Netlify a {
  color: black;
  text-decoration: none;
}
.Netlify a:hover {
  background-color: var(--branding-color);
  border-radius: 15px;
  font-weight: bold;
  padding: 2px 10px;
}

@media (max-width: 576px) {
  .App .container {
    max-width: 500px;
  }
}
