:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.App .container {
  background-color: var(--section-color);
  border-radius: 10px;
  box-shadow: 10px 10px 15px -15px black;
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
}

.App-footer {
  color: black;
  margin: 30px 0;
  text-align: center;
}
.App-footer a {
  color: black;
  text-decoration: none;
}
.App-footer a:hover {
  font-weight: bold;
}
