:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.Dictionary h1 {
  background-color: var(--branding-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}

.Prompt h2 {
  font-family: var(--secondary-font);
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.Dictionary input {
  border: 1px solid #ddd;
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
}

.Dictionary .Suggestion {
  font-size: 12px;
  margin-top: 2px;
  opacity: 50%;
}

@media (max-width: 576px) {
  .Dictionary h1 {
    font-size: 32px;
  }
  .Prompt h2 {
    font-size: 18px;
  }
  .Dictionary input {
    font-size: 18px;
  }
}
