:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.Meaning {
  font-family: var(--secondary-font);
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.Meaning h3 {
  color: var(--primary-color);
  font-family: var(--main-font);
}

.Meaning .Definition {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
}

.Meaning .Example {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  opacity: 0.5;
}
