:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.Results h2 {
  background-color: var(--branding-color);
  border-radius: 10px;
  font-family: var(--main-font);
  padding: 5px;
}
