:root {
  --branding-color: #fdc57b;
  --section-color: #fbf2d5;
  --primary-color: #394a51;
  --secondary-color: #7fa99b;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.TheWord h2 {
  background-color: var(--branding-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: 30px;
  margin: 20px auto;
  padding: 5px 0 10px 0;
  text-align: center;
}
@media (max-width: 576px) {
  .TheWord h2 {
    font-size: 20px;
  }
}
